@font-face {
  font-family: 'Post No Bills Jaffna Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Jaffna Bold'), url('./fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Post No Bills Jaffna Bold';
  font-size: 24px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
